<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>
<body>
    <h1>Welcome to Elon Musk unofficial Page</h1>
 
    <a href="/views/photos.html">See Photos Page</a>
    <a href="/views/works.html">See Works Page</a>
    <a href="/views/about.html">See About Page</a>
    <a href="/views/homepage.html">Home Page</a>
</body>
</html>